@import '~custom-theme.sass'
@import '~typography.sass'
@import '~styles.sass'

.toolbar
  font-family: $r-mono
  color: $white
  background-color: rgb(69,90,100)

.sidenavContainer
  width: 340px
  padding: 20px
  overflow-x: hidden

mat-sidenav-content
  display: flex
  flex-direction: column
  overflow-y: hidden

.sidenavTitle
  margin-left: 40%
  font-weight: bolder

.hamburger
  cursor: pointer
  padding-right: 10px