mat-expansion-panel
  position: fixed
  width: calc(100% - 340px - 3px - 3px)
  margin-left: 3px
  margin-right: 3px
  bottom: 0px

.mat-expanded
  height: calc(35% - 3px)
  top: 65%

.table
  overflow: auto
  max-height: calc(300px - 64px)

  .mat-header-cell,
  .mat-cell
    margin: 0 10px 0 10px

  .mat-column-author
    flex: .8

  .mat-column-year
    flex: .3
    min-width: 42px

  .mat-column-title
    flex: 3

  .mat-column-award
    flex: .7
    min-width: 130px

  .mat-column-link
    flex: .5
    display: flex
    flex-direction: column
    min-width: 72px

  .mat-column-journal
    flex: 1.3
