mat-expansion-panel
  position: fixed
  width: calc(100% - 340px - 3px - 3px)
  margin-left: 3px
  margin-right: 3px
  bottom: 0px

.mat-expanded
  height: calc(35% - 3px)
  top: 65%

dino-datatable .mat-header-cell,
dino-datatable .mat-cell
  margin: 0 10px 0 10px

dino-datatable .mat-column-Author
  flex: .8

dino-datatable .mat-column-Year
  flex: .3

dino-datatable .mat-column-Title
  flex: 3

dino-datatable .mat-column-PubMed-ID
  flex: .5

dino-datatable .mat-column-DOI
  flex: 1.2

dino-datatable .mat-column-GTR-ID
  flex: .5

dino-datatable .mat-column-Journal
  flex: 1.3
